html/**/*.html
html/**/*.htm
html/**/*.json
html/**/*.js
parsed/**/*.json
apple-jobs/**/*.html
apple-jobs/**/*.json
apple-jobs/**/*.js
microsoft-careers/**/*.html
microsoft-careers/**/*.json
microsoft-careers/**/*.js
nvidia-careers/**/*.html
nvidia-careers/**/*.json
nvidia-careers/**/*.js
amazon-jobs/**/*.html
amazon-jobs/**/*.json
amazon-jobs/**/*.js
!.gitignore
!README.md
